  .btnText {
    background-color: #5454D4;
    color: #fff;
    padding: 19px 60px;
    border: none;
    border-radius: 10px;

    &:active {
      opacity: 0.9;
    }
  }

  .btnArrow {
    border: 1px solid #E7E7E7;
    background: transparent;
    padding: 18px 29px;
    border-radius: 50%;
    margin-left: 40px;

    &:active {
      opacity: 0.6;
    }
  }